<!doctype html>
<html lang="cs">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Ivo Šmerek">
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>
<div class="image"></div>
<h1>Monitor solaru</h1>
<div class="power">
    <table>
        <tr>
            <td><p class="title">Výkon panelů</p><p class="big"><span id="power">0</span> W</p></td>
            <td><p class="title">Výkon do fáze</p><p class="big"><span id="PPS">0</span> W</p></td>
        </tr>
    </table>
    <p class="title">Dnešní celková dodávka</p><p class="big2"><span id="TEG">0</span> Wh</p>
</div>
<div class="tile">
    <p class="title">Napěťový měnič</p>
    <table>
        <tr>
            <td><img src="/static/images/speed.png"><p><span id="PCP">0</span>%</p></td>
            <td><img src="/static/images/thermometer.png"><p><span id="T">0</span>°C</p></td>
        </tr>
    </table>
    <p class="title">Akumulátor</p>
    <table>
        <tr>
            <td><img src="/static/images/battery.png"><p><span id="AC1U">0</span>V</p></td>
            <td><img src="/static/images/current.png"><p><span id="AC1I">0</span>A</p></td>
        </tr>
    </table>
    <p class="title">Zdroj</p>
    <table>
        <tr>
            <td><img src="/static/images/supply.png"><p><span id="PS1U">0</span>V</p></td>
            <td><img src="/static/images/current.png"><p><span id="PS1I">0</span>A</p></td>
        </tr>
    </table>
    <p class="title">Schéma zapojení</p>
    <div class="canvas">
        <img src="/static/images/domek.png">
        <div class="block0"><span id="power2">0</span>W</div>
        <div class="block1"><span id="PPS2">0</span>W</div>
        <div class="block2"><span id="PF3">0</span>W</div>
        <div class="block3"><span id="PF2">0</span>W</div>
        <div class="block4"><span id="PF1">0</span>W</div>
        <div class="block5"><span id="PI">0</span>W</div>
    </div>
</div>

</body>

<script>

    function updateBackground(power) {
        ratio = Math.min((power||0)/150, 1);

        //R = Math.min((2*ratio)*255,250);
        //G = 150-ratio*50;
        //B = Math.min(190-(ratio)*190, 190);

        //document.getElementsByTagName('body')[0].style.background = 'linear-gradient(180deg, rgba(' + R + ',' + G + ',' + B + ',1) 0%, rgba(' + R + ',' + G + ',' + B + ',0.65) 70%'
        document.getElementsByClassName('image')[0].style.opacity = ratio;
    }

    let socket = io();
    socket.on('refresh', function(data) {
        document.getElementById('power').innerText = data['aktualniVykon'];
        document.getElementById('PPS').innerText = -data['prikonFaze1C'];
        document.getElementById('TEG').innerText = data['dnesniDodavka'];
        document.getElementById('PCP').innerText = data['vyuzitiMenice'];
        document.getElementById('T').innerText = data['teplotaMenice'];
        document.getElementById('AC1U').innerText = data['napetiAku'];
        document.getElementById('AC1I').innerText = data['proudAku'];
        document.getElementById('PS1U').innerText = data['napetiZdr'];
        document.getElementById('PS1I').innerText = data['proudZdr'];
        document.getElementById('power2').innerText = data['aktualniVykon'];
        document.getElementById('PPS2').innerText = -data['prikonFaze1C'];
        document.getElementById('PF3').innerText = -data['prikonFaze1B'];
        document.getElementById('PF2').innerText = -(data['prikonFaze1'] - data['prikonFaze1A'] - data['prikonFaze1B'] - data['prikonFaze1C']);
        document.getElementById('PF1').innerText = -data['prikonFaze1A'];
        document.getElementById('PI').innerText = -data['prikonFaze1'];

        updateBackground(data['aktualniVykon']);
    });

</script>

</html>